@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semibold weight */
  font-style: normal;
}

body {
  background-color: white;
  color: #253347;
}

.siteAa {
  margin-left: 10px;
  margin-right: 10px;
}

.mainTitle {
  background: linear-gradient(180deg, #f0f9ff, #e6f7ff);

  width: 1250px;
  height: 737px;
}
.info {
  background: linear-gradient(180deg, #f0f9ffa1, #e6f7ff70);
}

.darkBlue {
  color: #5e6e85;
}

h1 {
  max-width: 480px;
}

.hero-text {
  max-width: 465px;
}

.calculator {
  width: 620px;
  height: 470px;
}

.greatins {
  width: 550px;
  height: 160px;
}

.limitation {
  width: 564px;
  height: 184px;
}

.gridCols {
  margin-left: 750px;
}

.flexCols {
  margin-left: 600px;
}
